<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Welcome to My Web Page</h1>
    <p>This is a paragraph of text.hjkkkkkkkkkkkkkkkkkkkkkkkk
      ftyggggggggggggggggggggggggggggggggg jsuaydhxusdnyugetydijskdcbhg7eyh         ygygdygduygdugwugwugdgu
    </p>
    {% if is_logged_in %}
    <h3>list of computer courses</h3>
    <ul>
      {%for course in courses %}
      <li>{{course}} </li>
      {% endfor %}
    
    
    </ul>
    {% else %}
    <p>please log in</p>
    {% endif %}

  </body>
</html>